/*@media (max-width: 641px) {
    width: device-width;
    zoom: 1.0; 
    button {
        width: 4em;
        height: 1fr;
        font-size: 50px;
    }
}*/
body {
    background-color: darkgreen;
    background-image: url("odin-lined.png");
    background-repeat: repeat;
    background-size: auto;
    background-position: center;
    min-width: 50em;
    min-height: 50em;
    max-width: 100em;
    max-height: 100em;
}   
button {
    min-height: 8em;
    min-width: 3em;
}


#display {
    display: flex;
    border: 5px solid black;
    background-color: greenyellow;
    width: 100%;
    height: 200px;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}
#calculatorGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.header {
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
}